

<div class="how-it-works-area py-5 bg-dark-1 text-light">
    <div class="container">
        <h1 class="text-center mb-5">Select transfer recipient</h1>
        <div class="row">

            <a asp-action="DepositInternally" asp-controller="WalletTransaction" class="col-md-6">
                <div class="feature-box text-center p-4 rounded bg-dark-2 shadow">
                    <div class="feature-icon mb-3 animate__animated animate__fadeInUp">
                        <i class="bi bi-box-arrow-in-up-right display-3 text-primary"></i>
                    </div>
                    <h4 class="mb-3">To My Wallet</h4>
                </div>
            </a>

            <a asp-action="DepositExternally" asp-controller="WalletTransaction" class="col-md-6">
                <div class="feature-box text-center p-4 rounded bg-dark-2 shadow">
                    <div class="feature-icon mb-3 animate__animated animate__fadeInUp">
                        <i class="bi bi-box-arrow-up-right display-3 text-primary"></i>
                    </div>
                    <h4 class="mb-3">To External Wallet</h4>
                </div>
            </a>

        </div>
    </div>
</div>