@using VirtualWallet.DATA.Models
@model Wallet


<h1>@Model.Name</h1>

<a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<button class="btn btn-danger delete-wallet" data-id="@Model.Id">Delete</button>